.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  border: 1px solid rgba(3, 74, 166, 0.15);
  border-radius: 8px;
  background-color: rgba(191, 151, 101, 0.15);
  backdrop-filter: blur(10px);
  padding: 40px;
  box-shadow: 2px 2px rgba(1, 28, 64, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.container .input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
}

.input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(191, 151, 101, 0.15);
  border-radius: 8px;
  padding: 20px 45px;
  font-size: 16px;
  color: #fff;
}

.input-field input::placeholder {
  color: #bf976588;
}
.input-field .icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
}

.container .recall-forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: -15px 0 15px;
}

.recall-forget label {
  color: #fff;
}

.recall-forget input {
  margin-right: 5px;
}

.recall-forget a,
.signup-link p a {
  color: #fff;
  text-decoration: none;
}

.recall-forget a:hover,
.signup-link p a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #bf976588;
}

.container button {
  width: 100%;
  height: 50px;
  background-color: #bf9765;
  box-shadow: 0 0 10px rgba(1, 28, 64, 0.1);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  text-shadow: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  outline: none;
}

.container button:hover {
  background-color: #011c407a;
  transition: 0.9s;
}

.container .signup-link {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}
